.shop {
  background-image: url("../../public/Rectangle.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 50vh;
  position: relative;
  &__wrapper {
    background-image: url("../../public/IM.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh;
  }
  &__enner {
    padding-top: 100px;
    &--leni {
      font-family: Poppins;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 2px;
      text-align: center;
      color: #fff;
    }
    &--title {
      font-family: Poppins;
      font-size: 36px;
      font-weight: 400;
      line-height: 43px;
      letter-spacing: 0em;
      text-align: center;
      color: #e6b939;
    }
    &--text {
      font-family: Poppins;
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: center;
      color: #fff;
    }
    
  }
}
